In [2]:
import pandas as pd
import numpy as np

In [3]:
pymarket = pd.read_csv('pymarket1.csv')
pymarket.head()

        dates     Tom     Joe  Charlie
0  10/16/2016  131.10   18.78   210.34
1  10/17/2016  459.13  424.17   176.03
2  10/18/2016  338.39  376.78   334.06
3  10/19/2016  361.32  349.26   456.03
4  10/20/2016   25.39  434.77   462.00

1) How much Tom has expend in the market

Value

In [20]:
texpenses = pymarket[['Tom']].sum()
list(texpenses)

[222564.53000000038]

2) Total and mean of Tom and Joe expenses

In [ ]:
Dataframe

In [37]:
names = ['dates','Tom','Joe','Charlie']
dataset = pd.read_csv('pymarket1.csv', names=names)
new_pymarket= pymarket[['Tom','Joe']]

df = pd.DataFrame({'Mean':[(new_pymarket.sum(axis=0)).mean()],'Total':[(new_pymarket.sum(axis=0)).sum()]})
df

         Mean      Total
0  218565.695  437131.39

In [ ]:
Series

In [38]:
x=pd.Series([(new_pymarket.sum(axis=0)).mean(),(new_pymarket.sum(axis=0)).sum()], index = ['mean','total'])
x

mean     218565.695
total    437131.390
dtype: float64